* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For Desktop Devices */
.Instagram-button {
  background-color: rgb(205, 72, 107);
  color: white;
  border: none;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  transition: box-shadow 0.15s,
    color 0.15s;
  transition: 0.25s;
}

.Instagram-button img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.Facebook-button {
  background-color: rgb(47, 0, 255);
  color: white;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  transition: box-shadow 0.15s,
    color 0.15s;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Facebook-button img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.Instagram-button:hover {
  opacity: 0.8;
  scale: 1.05;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.40);
}

.Instagram-button:active {
  opacity: 0.8;
  scale: 1.05;
}

.Facebook-button:hover {
  opacity: 0.8;
  scale: 1.05;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.40);
}
.Facebook-button:active {
  opacity: 0.8;
  scale: 1.05;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  font-family: Arial;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  border: red 2px solid;
}

.Instagram-title {
  font-family: Arial;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  color: white;
}

.Facebook-title {
  font-family: Arial;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  color: white;
}

body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/88/769/281/1920x1080-px-digital-art-japan-minimalism-simple-background-sun-trees-video-games-star-wars-hd-art-wallpaper-preview.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
  border: 2px solid red;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .Instagram-button {
    width: 70%;
    height: 250px;
  }

  .Instagram-button img {
    width: 70px;
    height: 70px;
  }

  .Instagram-title {
    font-size: 1.5rem;
  }

  .Facebook-button {
    width: 70%;
    height: 250px;
  }

  .Facebook-button img {
    width: 70px;
    height: 70px;
  }

  .Facebook-title {
    font-size: 1.5rem;
  }
  

  body {
      height:100vh;
      background-position: right;
  }
  
}

/* For Tablets Devices */
@media only screen and (width > 767px) and (width < 1025px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .Instagram-button {
    width: 50%;
    height: 400px;
    margin: 0;
  }

  .Instagram-button img {
    width: 70px;
    height: 70px;
  }

  .Instagram-title {
    font-size: 1.5rem;
  }

  .Facebook-button {
    width: 50%;
    height: 400px;
  }

  .Facebook-button img {
    width: 70px;
    height: 70px;
  }

  .Facebook-title {
    font-size: 1.5rem;
  }
  

  body {
      background-position: right;
  }
}